html,
body {
  padding: 0;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #efeeff;
  background: -webkit-gradient(linear, left bottom, left top, from(#efeeff), to(#d6f8ff));
  background: linear-gradient(0deg, #efeeff 0%, #d6f8ff 100%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 0px;
  margin: 0;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
}

.title {
  margin: 50px 0px;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
}

.title h1 {
  margin: 0;
}

.title p {
  margin: 0;
  padding: 10px;
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table .tree {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.121);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.121);
  margin: 10px 10px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
  border-radius: 20px;
  border: 5px solid;
}

table .tree img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid;
  margin: 6px;
}

table .tree .mainpart {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

table .tree .mainpart .text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

table .tree .mainpart .text h2 {
  margin: 0;
  color: white;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
}

table .tree .mainpart .text strong {
  -webkit-transform: translateX(10px) translateY();
          transform: translateX(10px) translateY();
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

table .tree .mainpart .wrapper {
  margin-top: 0px;
}

table .tree .mainpart .wrapper .button {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.359);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.359);
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

table .tree .mainpart .wrapper .button .icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 33px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: -5px;
}

table .tree .mainpart .wrapper .button .icon i {
  font-size: 10px;
}

table .tree .mainpart .wrapper .button span {
  position: relative;
  font-size: 10px;
  font-weight: 500;
  top: -3px;
  margin-left: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

table .tree .mainpart .wrapper .button:nth-child(1) span {
  color: red;
}

table .tree .mainpart .wrapper .button:nth-child(2) span {
  color: purple;
}

table .tree .mainpart .wrapper .button:nth-child(1):hover .icon {
  background-color: red;
  color: white;
}

table .tree .mainpart .wrapper .button:nth-child(2):hover .icon {
  background-color: purple;
  color: white;
}

table .tree .mainpart .wrapper .button:hover {
  width: 85px;
}

@media screen and (max-width: 870px) {
  table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table tr th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table tr th .tree {
    width: 100%;
    margin-left: 0px;
  }
}

#basic {
  background-color: rgba(255, 217, 0, 0.572);
  border-color: gold;
}

#basic img {
  border-color: gold;
}

#basic .mainpart div strong {
  background-color: gold;
}

#basic .wrapper .button {
  color: gold;
}

#nubb {
  background-color: rgba(0, 153, 255, 0.659);
  border-color: #0099ff;
}

#nubb img {
  border-color: #0099ff;
}

#nubb .mainpart div strong {
  background-color: #0099ff;
}

#nubb .wrapper .button {
  color: #0099ff;
}

#plumania {
  background-color: rgba(230, 230, 250, 0.563);
  border-color: lavender;
}

#plumania img {
  border-color: lavender;
}

#plumania .mainpart div strong {
  background-color: lavender;
}

#plumania .wrapper .button {
  color: lavender;
}

#juxive {
  background-color: #71007193;
  border-color: #710071;
}

#juxive img {
  border-color: #710071;
}

#juxive .mainpart div strong {
  background-color: #710071;
}

#juxive .wrapper .button {
  color: #710071;
}

#daxie {
  background-color: rgba(212, 0, 212, 0.644);
  border-color: #d400d4;
}

#daxie img {
  border-color: #d400d4;
}

#daxie .mainpart div strong {
  background-color: #d400d4;
}

#daxie .wrapper .button {
  color: #d400d4;
}

#nate {
  background-color: rgba(0, 0, 0, 0.559);
  border-color: black;
}

#nate img {
  border-color: black;
}

#nate .mainpart div strong {
  background-color: black;
}

#nate .wrapper .button {
  color: black;
}

#deletez {
  background-color: rgba(255, 0, 0, 0.566);
  border-color: red;
}

#deletez img {
  border-color: red;
}

#deletez .mainpart div strong {
  background-color: red;
}

#deletez .wrapper .button {
  color: red;
}

#salman {
  background-color: rgba(0, 0, 139, 0.632);
  border-color: darkblue;
}

#salman img {
  border-color: darkblue;
}

#salman .mainpart div strong {
  background-color: darkblue;
}

#salman .wrapper .button {
  color: darkblue;
}

#mules {
  background-color: rgba(255, 192, 203, 0.624);
  border-color: pink;
}

#mules img {
  border-color: pink;
}

#mules .mainpart div strong {
  background-color: pink;
}

#mules .wrapper .button {
  color: pink;
}

#fishey {
  background-color: rgba(0, 128, 128, 0.564);
  border-color: teal;
}

#fishey img {
  border-color: teal;
}

#fishey .mainpart div strong {
  background-color: teal;
}

#fishey .wrapper .button {
  color: teal;
}

#remmbuu {
  background-color: rgba(255, 221, 227, 0.539);
  border-color: #ffdde3;
}

#remmbuu img {
  border-color: #ffdde3;
}

#remmbuu .mainpart div strong {
  background-color: #ffdde3;
}

#remmbuu .wrapper .button {
  color: #ffdde3;
}

#ariduck {
  background-color: #f6bd0092;
  border-color: #F6BE00;
}

#ariduck img {
  border-color: #F6BE00;
}

#ariduck .mainpart div strong {
  background-color: #F6BE00;
}

#ariduck .wrapper .button {
  color: #F6BE00;
}
/*# sourceMappingURL=style.css.map */